@import "../../partials/variables";

$header-height: 16em;

.header {
  font-family: 'Roboto';
  display: flex;
  overflow: hidden;
  align-content: start;
  flex-direction: row;
}

.item {
  flex: 1 1;
  max-width: 30em;
}

.spacer {
  flex: 1;
}
