

.footer {
  font-family: 'Roboto', serif;
  background-color: #353943;
  border-top: 1px solid #474c5a;
}

.container {
  display: flex;
  flex-direction: column;
}

.copyrightRow {
  padding: .5em 0;
  color: #61596a;
  text-align: center;
  font-family: "Fira Code", serif;
  font-weight: 800;
  & > span {
    font-size: .8em;
  }
}

.links {
  padding: 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

.linksContainer {
  display: flex;
  flex-direction: column;

  & a {
    color: #b9aac6;
    text-decoration: none;
  }
}
